from django.utils.translation import gettext_lazy as _
import dj_database_url

SECRET_KEY = 'local'

DATABASES = {
    'default': dj_database_url.config(
        default='postgres://saleor:saleor@localhost:5432/saleor',
        conn_max_age=600)}

TIME_ZONE = 'Europe/Prague'
LANGUAGE_CODE = 'cs'
LANGUAGES = [
    ('cs', _('Czech')),
    ('de', _('German')),
    ('en', _('English')),
    ('pl', _('Polish')),
    ('sk', _('Slovak')),
]
